/* voor alle paginas */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  
}
#logo{
    height: 75px;
    width: 75px;
    background-color: white;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover;
    margin-left: 1%;
}

body {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

#container {
    width: 100%;
    /* max-width: 1200px; */
    min-width: 300px;
}

/* alles voor de nav */
nav {
    height: 75px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.nav-a {
    text-decoration: none;
    color: black;
}

#nav-ol {
    display: flex;
    list-style: none;
}

.nav-li {
    margin-left: 10%;
    font-size: 125%;
    font-weight: bolder;
}

#cart-container {
    font-size: 125%;
    margin-left: auto;
    height: 75px;
    width: 75px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gratis-verzending {
    font-size: 125%;
    margin-right: 2.5%;
    position: absolute;
    top: 0px;
    right: 75px;
    height: 75px;
    width: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

img {
    width: 65%;
    height: 65%;
}

.icons {
    color: black;
    margin-right: 1%;
    margin-left: 1%;
    /* height: 50px; */
}

#naam-webite-containere{
    margin-top: 20px;
    font-size: 125%;
}

#i-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    color: black;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}


main {
    width: 100%;
    height: auto;
    /* background-color: violet; */
    /* background-color: pink; */
}


/* alles voor de index.php */


#header-index {
    height: 300px;
    width: 100%;
    /* background-color: yellow; */
    background-image: url(../img/callofduty.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.titel-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-top: 10px; */
    /* background-color: red; */
    height: 50px;
}

.section-index {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;


}

.product-blok {
    background-color: white;
    height: 350px;
    width: 250px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-blok-img {
    height: 250px;
    width: 250px;
    background-color: yellow;
    background-image: url(../img/battlefieldjpg.jpg);
    background-position: top;
    background-size: cover;
}

.nep-product {
    background-image: url(../img/battlefield.jpg);
    background-position: top;
    background-size: cover;

}

.title-blok {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-prijs {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.75;

}

.product-blok:hover .title-prijs {
    display: flex;
}

.link-product {
    text-decoration: none;
    color: black;
}

/* alles voor de de bestellen.php */

#bestel-container {


    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;

}

#bestel-container-links {
    height: 800px;
    width: 50%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}



.product-blok-bestel {
    background-color: white;
    height: 650px;
    width: 90%;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-blok-img-bestel {
    height: 550px;
    width: 100%;
    background-color: yellow;
    background-image: url(../img/battlefieldjpg.jpg);
    background-position: top;
    background-size: cover;
}

.title-blok-bestel {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-prijs-bestel {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.75;

}

.product-blok-bestel:hover .title-prijs-bestel {
    display: flex;
}

#bestel-container-rechts {

    height: 800px;
    width: 50%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.titel-container-bestel {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100px;
}

.content-rechts-container {
    width: 80%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#winkelwagen-knop {
    padding: 20px;
    margin-top: 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1%;
    font-weight: bolder;


}

.vorige-volgende-knop {
    padding: 10px;
}


/* alles voor de winkelwagen */

.betalen-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#winkelwagen-container {

    height: auto;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

#winkelwagen-content {
    width: 100%;
    max-width: 850px;
    height: 100%;

    /* background-color: cornflowerblue; */

}

.product-winkelwagen {
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
    /* border: solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}


.product-winkelwagen-img {
    height: 100%;
    width: 30%;

    background-position: top;
    background-size: cover;
}

.info-container {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aantal-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 125%;
}

.aantal-input {
    width: 30%;
    /* padding: 10px; */

}


/* alles voor de afrekenen.php */

#afrekenen-container {

    width: 100%;
    height: auto;
    /* background-color: red; */

    display: flex;
    /* justify-content: center; */
}



#afrekenen-content-rechts {

    width: 50%;
    height: 800px;
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */

}

#melding {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    color: red;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#afrekenen-content-rechts-melding {
    width: 50%;
    height: 800px;
    /* background-color: pink; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
}

#form-afrekenen {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* background-color: rosybrown; */

}

input {
    width: 300px;
    height: 50px;
    margin: 5px;
}

#afrekenen-content-links {
    width: 50%;
    height: 800px;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#laat-winkelwagen-zien-container {

    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.show-producten {
    width: 100%;
    height: 500px;
    /* background-color: blue; */
}

#melding-title-2{

    display: none;
    
}