/* voor alle paginas */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

#container {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
}

/* alles voor de nav */
nav {
    height: 75px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#nav-ol {
    display: flex;
    list-style: none;
}

.nav-li {
    margin-left: 10%;
    font-size: 125%;
    font-weight: bolder;

}

#cart-container {
    font-size: 125%;
    margin-left: auto;
    height: 75px;
    width: 75px;
    background-color: white;
    /* background-image: url(../img/cart.jpg);
    background-position: center;
    background-size: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:65%;
    height:65%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: teal;
}

main {
    width: 100%;
    height: auto;
    /* background-color: violet; */
    /* background-color: pink; */
}


/* alles voor de index.php */


#header-index {
    height: 300px;
    width: 100%;
    /* background-color: yellow; */
    background-image: url(../img/callofduty.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.titel-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.section-index {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction:row; */

}

.product-blok {
    background-color: white;
    height: 350px;
    width: 250px;
    /* margin: 50px 50px 0px 50px */
    margin-top: 50px;
    margin-bottom: 50px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-blok-img {
    height: 250px;
    width: 250px;
    background-color: yellow;
    background-image: url(../img/battlefieldjpg.jpg);
    background-position: left;
    background-size: cover;
}

.title-blok {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-prijs {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.75;

}

.product-blok:hover .title-prijs {
    display: flex;

}